spring:
  devtools:
    livereload:
      enabled: true
  datasource:
    url: jdbc:mariadb://localhost:3306/daly
    driver-class-name: org.mariadb.jdbc.Driver
    username: bong
    password: 1234
  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update